<section class="block container block-domain">
    <header class="block__header">
        <h2>Apartir de 9.000kz</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, unde deserunt tempore ex facere
            eligendi!</p>
    </header>
    <div class="input-group">
        <input type="text" class="input" placeholder="Digite o nome do seu domínio..." />
        <button class="btn btn--accent">
            <svg class="icon icon--white">
                <use xlink:href="images/sprite.svg#search"></use>
            </svg>
            Search
        </button>
    </div>
    <ul class="list block-domain__prices">
        <li><span class="badge">.com 12k</span></li>
        <li><span class="badge">.co.ao 10k</span></li>
        <li><span class="badge">.space 11k</span></li>
        <li><span class="badge">.info 14k</span></li>
        <li><span class="badge">.net 10k</span></li>
        <li><span class="badge">.me 9k</span></li>
    </ul>
</section>