<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      !-- FIXME: Regenerate sprite.svg, snap is black-->
      <!-- <use xlink:href="images/sprite.svg#snap"></use> -->
      <use xlink:href="images/sprite.svg#settings"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy to start and Manage Update</h3>
    <p class="media__text">
      Our cloud plans include easy onboarding for new and existeng sites
      and managed WordPress and WooCommerce auto-updates.
    </p>
  </div>
</div>

<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#growth"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Staging, Git & WP-CLI</h3>
    <p class="media__text">
      We make your WordPress and development flow easier with a convenient staging tool with Git an CLI-Integration
    </p>
  </div>
</div>

<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#wordpress"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Dynamic Caching & more</h3>
    <p class="media__text">Speed up your WordPress and sites with our SG Optimizer plugin, throught smart dynamic
      caching and multiple other performance optimizations</p>
  </div>
</div>