<div class="media">
    <div class="media__image">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#growth"></use>
        </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title">Easy to start and Manage Update</h3>
      <p class="media__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus vel sed maiores explicabo dolorem omnis repellat at obcaecati quis dolorum?</p>
    </div>
  </div>

  <div class="media">
    <div class="media__image">
        <svg class="icon icon--primary">
          <!-- FIXME: Regenerate sprite.svg, snap is black-->
          <use xlink:href="images/sprite.svg#snap"></use>
        </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title">Staging, Git & CLI</h3>
      <p class="media__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus vel sed maiores explicabo dolorem omnis repellat at obcaecati quis dolorum?</p>
    </div>
  </div>